.loader {
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 3s linear infinite;
}

.circle {
    display: inline-block;
    background-color: rgb(22, 53, 83);
    ;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1s linear infinite;
    margin: -10px;
}

.circle:nth-child(2) {
    background-color: rgb(34, 94, 112);
    animation-delay: 0.5s;
    ;
}

.circle:nth-child(3) {
    background-color: mediumturquoise;
    animation-delay: 0.75s;
    ;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}