@import url("https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 3rem;
  padding-bottom: 0;
  overflow-x: hidden;
}

.bg-dark {
  background: rgb(23, 23, 41) !important;
}

.navbar-brand {
  margin-left: 20px !important;
}

.carousel-item {
  height: 100vh !important;
}

.carousel-item img {
  height: 100vh !important;
}

.carousel-caption {
  background: rgba(21, 26, 31, 0.657);
}

.main-content {
  text-align: center;
  width: 100%;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;
}

#contact {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.main-content h1 {
  font-size: 40px;
}

.main-content p {
  font-size: 20px;
  color: #333;
}

.about-row-one {
  background: url("../../images/about/row-01.jpg");
  min-height: 100%;
}

.about-row-two {
  background: url("../../images/about/row-02.jpg") 50% 30%;
  min-height: 100%;
}

.about-row-three {
  background: url("../../images/about/row-03.jpg") 50% 30%;
  min-height: 100%;
}

.about-caption-light {
  background: rgba(21, 26, 31, 0.657);
  color: #fff;
}

.about-caption-lighter {
  background: rgba(21, 26, 31, 0.5);
  color: #fff;
}

.about-caption-dark {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
  color: rgb(25, 29, 34);
}

.about-p-white {
  color: rgb(221, 230, 235) !important;
}

.about-p-dark {
  color: rgb(25, 29, 34);
}

.about-slide-bg {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
}

.goals-item {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
}

.vision-container {
  box-shadow: 0 0 15px 1px rgba(33, 32, 49, 0.5);
}

.investment-zone-one {
  background: url("../../images/invest/bg-01.jpg") 50% 50% !important;
  min-height: 100%;
}

.investment-zone-two {
  background: url("../../images/invest/bg-02.jpg") 20% 70% !important;
  min-height: 100%;
}

.investment-zone-three {
  background: url("../../images/invest/bg-03.jpg") 20% 40% !important;
  min-height: 100%;
}

.investment-zone-five {
  background: url("../../images/invest/bg-05.jpg") 20% 40% !important;
  min-height: 100%;
}

.investment-zone-six-img-bg {
  background: url("../../images/invest/bg-06.jpg") 20% 40% !important;
  min-height: 100%;
}

.investment-zone-four .featurette-heading {
  color: rgb(44, 51, 59);
}

.house-type-container {
  background: rgba(15, 19, 22, 0.794);
  color: rgb(209, 212, 216) !important;
}

.house-type-container p {
  color: rgb(209, 212, 216) !important;
}

.house-type-container .featurette-heading {
  color: rgb(183, 212, 250);
}

.house-item {
  background: rgba(21, 26, 31, 0.5);
  color: rgb(209, 212, 216);
  text-align: justify;
  border: none;
}

.partern-bg-one {
  background: url("../../images/partner/bg-01.jpg") 90% 60% !important;
  min-height: 100%;
}

.partern-bg-two {
  background: url("../../images/partner/bg-02.jpg") 40% 20% !important;
  min-height: 100%;
}

.partner-areas {
  background: linear-gradient(135deg, #f5f7fa 0%, #c8d0dd 100%) !important;
  box-shadow: 0 0 3px 1px rgba(33, 32, 49, 0.5);
  margin: 10px;
  font-size: 1.5em;
}

.partnership-form {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
  color: rgb(20, 30, 36);
}

.partnership-form input {
  width: 100%;
  outline: none;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid rgb(26, 26, 56);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.partnership-form select {
  width: 100%;
  outline: none;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid rgb(26, 26, 56);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.partnership-form textarea {
  width: 100%;
  outline: none;
  background: transparent;
  border: 0px;
  border-left: 1px solid rgb(26, 26, 56);
  padding: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.partnership-form-button {
  width: 100%;
  outline: none;
  background: rgb(22, 53, 83);
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1em !important;
  color: #fff;
}

.partnership-form-button:hover {
  background: rgb(111, 164, 189);
  color: rgb(26, 26, 56);
  border: 1px solid rgb(26, 26, 56);
}

.land-category {
  background: rgba(22, 52, 83, 0.849);
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(33, 32, 49, 0.5);
  color: #fff;
}

.land-category h2 {
  color: rgb(212, 135, 34);
}

.installment-card {
  font-size: 16px !important;
  border: 1px solid rgb(156, 175, 192);
  border-radius: 5px;
}

.sub-heading {
  color: rgb(168, 108, 30);
  font-size: 1.3em;
}

.featurette-heading {
  color: rgb(168, 108, 30);
}

.featurette-dark {
  background: rgb(21, 26, 31);
  padding: 50px;
  color: rgb(210, 219, 228);
}

.featurette-dark p {
  color: rgb(210, 219, 228);
}

.readMore-btn {
  display: inline-block;
  background: rgb(22, 53, 83);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 15px;
}

.readMore-btn:hover {
  opacity: 0.9;
  background-color: rgb(34, 94, 112);
  color: #fff;
  text-decoration: none;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.developer {
  margin: 0;
  padding: 0;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.strategy-box:hover {
  transition: 0.5s;
}

.strategy-box:hover {
  background: rgb(22, 53, 83);
  border-radius: 5px;
  color: #fff;
}

.strategy-box:hover p {
  color: #fff;
}

.strategy-box:hover .readMore-btn {
  border: 1px solid #fff;
}

footer {
  width: 100%;
  background: #36393d;
  color: rgb(209, 212, 216) !important;
  text-align: center;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: rgb(209, 212, 216) !important;
}

footer a:hover {
  text-decoration: none;
}

.subscribe-form input {
  width: 100%;
  outline: none;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid rgb(209, 212, 216) !important;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(209, 212, 216) !important;
}

.subscribe-form-button {
  width: 100%;
  outline: none;
  background: rgb(31, 38, 46);
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(209, 212, 216) !important;
}

.subscribe-form-button:hover {
  border: 1px solid rgb(21, 21, 31);
}

.footer-address {
  text-align: justify !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 4rem;
  }
}